@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #22D4FD;
} /*UMA VARIAVEL CSS
para usar bas ta escrever "var"(nome da cor)
ex:background-color: var(--cor0)*/ 

* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;?*/	
    box-sizing: border-box;
    background-color: black;
    color: #F9F9F9;
}
.title-destaque {
    color: var(--cor0)
}
/*.imagem-eu {
    border : solid 1px #0000cd*/

.cabecalho {
    padding: 5% 0% 0% 15%
}

.cabecalho_menu {
    display: flex;
    gap: 5%;
}

.cabecalho_link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color:  var(--cor0);
    text-decoration: none;
}

.cabecalho_link:hover {
    color: #036177;
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 37.9rem;
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
    align-items: left;
    margin-top: 3%;
}

.apresentacao__titulo {
    font-size: 2.5rem;
    font-family: "krona-one", sans-serif;
}


.text_exp {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 15%
    
}
.paragrafo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 10%;

}

.imagem-figma {
    width: 50%;
}

.blue_text {
    color:  var(--cor0);
}

footer {
    background-color: #373b3b3b;
    color: #7a7a7a;
    padding: 1.9rem 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    text-align: left;
}


.left-content p {
    margin: 5px 0;
}

.left-content a {
    font-weight: bold;
}

.left-content a:hover {
    text-decoration: underline;
}

.right-content {
    text-align: right;
}

.right-content p {
    margin: 0;
    font-style: italic;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%
    }

    .cabecalho_menu {
        justify-content: center; 
    }
    .cabecalho_link {
        font-size: 0.8rem;
        gap: 7%;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
        padding: 15%;
    }
    .text_exp {
        font-size: 1rem;
    }
    .paragrafo {
        font-size: 1rem;
    }
} 